@import url(base.css);
body {
    width: 100%;
    margin: 0px auto;
}
header {
    background-color:  rgb(68, 26, 68);
    height: 120px;
    color:  rgb(245, 237, 133);
    text-align: center;
}
main{
    width: 1050px;
    margin: 60px auto;
}
h1{
    font-size: 50px;
    line-height: 120px;
}
.section{
        display:flex;
        flex-wrap: wrap;
         justify-content: space-evenly;
        /*justify-content: space-evenly; 
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px; */
    
}
.template-div{
    /* display: flex;
    flex-direction: column; */
    width: 320px;
    margin-bottom: 30px;
    height: auto;
    border: 2px solid rgb(68, 26, 68);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(245, 237, 133);
}

img{
    width: 300px;
    border: 0px;
    border-radius: 10px;
}

h2 , p {
    margin: 15px 0px 15px 10px;
    color:rgb(68, 26, 68) ;
}

h2 {
    font-size:25px;
    font-weight: bold;
}
p{
    font-size: 20px;
}

footer{
    width: 100%;
    height: 90px;
    background-color:rgb(68, 26, 68);
    color:rgb(245, 237, 133) ;
    font-size: 17px;
    text-align: center;
    line-height: 90px;
}
button{
    position: relative;
width: 50px;
height: 25px;
display: inline-block;
}